.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    left: 0;
    background-image: url("chat.gif");
  }
  .right {
    right: 0;
    background-color: rgb(214, 236, 255);
  }
  #logo{
    width: 180px;
    margin-top: 0px;
    margin-left: 20px;
  }
  #lets{
    color: rgb(0, 88, 205);
    font-family: Georgia;
    text-align: center;
    margin-top: 20px;
  }
#sign{
    color: rgb(0, 88, 205);
    font-family: Tahoma;
    text-align: left;
    margin-left:40px;
    margin-top: 10px;
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 30px;
}
#userName{
    margin-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    width: 350px;
    border-radius: 7px;
    border-color: rgb(48, 138, 255);
    border-style: solid;
    border-width: 1px;

}

#login_button{
    margin-top: 30px;
    margin-left: 360px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    width: 200px;
    background-color: rgb(48, 138, 255);
    border-width: 1px;
    border-color:rgb(119, 177, 252);
    color: white;
    border-radius: 5px;
}
#lab1{
    color: rgb(48, 138, 255);
    font-family: monospace;
    margin-top: 20px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: lighter;
}
#lab2{
    color: rgb(48, 138, 255);
    margin-top: 0px;
    margin-left: 35px;
    font-family: monospace;
    font-size: 20px;
    font-weight: lighter;
}
#bg{
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
}
#logout{
  background-color: rgb(209, 55, 55);
  color: white;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  width: 130px;
  height: 35px;
  float: right;
  margin-top: 0px;
  font-size: 20px;
}
.header{
  font-size: 45px;
  font-family: monospace;
  margin-bottom: 50px;
}
#add{
  font-size: 20px;
}
#roomName{
  width: 450px;
  height: 30px;
  margin-bottom: 25px;
}
#add_button{
  background-color: lightblue;
  border-width: 0.2px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  cursor: pointer;
  height: 25px;
  width: 120px;
  border-radius: 5px;

}
#hashtag{
  font-size: 28px;
  font-family: Tahoma;
  font-weight: lighter;
}
#user_name{
  font-size: 22px;
  font-family: tahoma;
  font-weight: lighter;
}
#trending_output
{
	padding: 10px;
   width:80%;
   background: rgba(255,255,255,0.8);
   border-radius: 15px;
   cursor: pointer;
}
#abg{
  background-image: url("imgg.jpg");
  background-position: center;
  background-size: cover;
}
.input_div_message_page
{
	position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: gray;
}
.input_div_message_page #msg
{
	width: 50%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 20%; 
}
.btn_like{
  background-color: rgb(139, 203, 255);
  border: none;
  height: 30px;
}
#output
{
	padding: 10px;
   width:80%;
   background: rgba(255, 255, 255, 0.8);
   border-radius: 15px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
.user_tick
{
	width:20px;
}